NODE_ENV=production
PORT=5000

API_BASE_URL=http://54.167.49.121:5000
ADMIN_BASE_URL=http://54.167.49.121

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=actress_puzzle_game
DB_USER=vpnuser
DB_PASSWORD="StrongPassword123!"

JWT_ACCESS_SECRET=PASTE_A_NEW_ACCESS_SECRET_HERE
JWT_REFRESH_SECRET=PASTE_A_NEW_REFRESH_SECRET_HERE
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

UPLOAD_ROOT=uploads
MAX_UPLOAD_SIZE_MB=10

CORS_ORIGINS=http://54.167.49.121
